body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.calculadora {
    width: 270px;
    margin: 60px auto;
    padding: 15px;
    background: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#display {
    width: 94%;
    height: 50px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 22px;
    text-align: right;
    border: none;
    border-radius: 8px;
    background: #000;
    color: #0f0;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: 60px;
}

.btn-calc {
    width: 100%;
}
.btn-mais {
    grid-row: span 2;
}

.btn-igual {
    grid-column: span 2;
}
button {
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: 0.2s;
}
button:hover {
    background: #444;
}

button:active {
    transform: scale(0.95);
}


.btn-operador, .btn-mais{
    background: #ff9500; 
}

.btn-operador:hover, .btn-mais:hover {
    background: #e08900;
}

.btn-igual, button[type="submit"] {
    background: #28a745;
}

.btn-igual:hover, button[type="submit"]:hover {
    background: #218838;
}

.limpar, button[type="reset"] {
    background: #dc3545;
}

.limpar:hover, button[type="reset"]:hover {
    background: #c82333;
}